* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Trebuchet MS';
  background-color: #353535;
  margin: 0;
}

body {
  margin: 0;
  z-index: 0;
}

.show {
  display: inherit;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

h5 {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  font-size: 2.1vh;
}

#title {
  font-size: 3vh;
  color: white;
  padding-bottom: 2vh;
  padding-top: 5vh;
  text-align: center;
}

#intro {
  text-align: justify;
  height: max-content;
  font-size: 2vh;
  margin-bottom: 5px;
  color: white;
}

.title, .year {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%;
  transition: top .5s ease;
  font-weight: 700;
  font-size: 3vmin;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;

  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(255, 255, 255)
}

.info {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: max-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2vh;
  top: 40%;
  position: absolute;
  color: white;
  transition: opacity .35s ease;
  opacity: 0;
}

.extraInfo {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  font-size: 2.1vh;
  color: rgb(255, 255, 255);
}

.extraInfoTitle {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 4vh;
  color: rgb(255, 255, 255);
}

.extraInfoPageTitle {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  font-size: 5vh;
  color: rgb(255, 255, 255);
}

/*3 per row*/
.container {
  position: relative;
  width: 32.9vw;
  height: 18.5vw;
}

.year {
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  opacity: 0;
  top: 50%;
  font-size: 2vmin;
  background-color: rgba(0, 0, 0, 0.4);
}

.button {
  position: absolute;
  width: 50%;
  top: 30%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 0;
  pointer-events: none;
}

.button a {
  padding: 6px 30px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  pointer-events: all;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.7vw;
}

/*2 per row*/
@media (max-aspect-ratio: 6/7) {
  .container {
    width: 49vw;
    height: 27.9vw;
  }

  .button a {
    font-size: 1vw;
  }

  .year, .title, .info {
    font-size: 2vw;
  }

  .year {
    font-size: 1.6vw;
  }

  #footer {
    margin-left: 20%;
    margin-right: 10%;
  }

  #wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

}

/*1 per row*/
@media (max-aspect-ratio: 6/9) {

  .button a {
    font-size: 3vw;
  }

  .container {
    width: 100vw;
    height: 56.25vw;
    margin-top: -7px;
  }

  .year, .title, .info {
    font-size: 4.5vw;
  }

  #footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  #wrapper {
    font-size: 1.5vw;
    padding-left: 10%;
    padding-right: 15%;
  }
}

@media (max-width: 1100px) {
  #intro {
    font-size: 1.7vmin;
  }
}

/*2 per row*/
@media (max-width: 800px) {
  .container {
    width: 49vw;
    height: 27.9vw;
  }

  .button a {
    font-size: 1vw;
  }

  .year, .title, .info {
    font-size: 2vw;
  }
}

.container:hover .icon img, .container:hover .button, .container:hover .info {
  opacity: 1;
}

.preview, .onhoverpreview {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preview, .onhoverpreview {
  position: absolute;
  width: 100%;
  height: 100%;
}

.onhoverpreview {
  opacity: 1;
  transition: opacity .35s ease;
}

.container:hover .onhoverpreview {
  opacity: 0;
}

.container:hover .year {
  top: 75%;
  opacity: 1;
}

ul li {
  font-size: 2vh;
  list-style: square;
}

h1 {
  font-size: 3vh;
  list-style: square;
}

.container:hover .title {
  top: 10%;
}

.container:hover .year {
  top: 75%;
  opacity: 1;
}